* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #112B3C;
    display: flex;
    
}

.container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid #28FFBF; */
}

#search-name {
    padding: 5px 10px;
    width: auto;
    height: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #FF8C32;
    background-color: #DDDDDD;
    /* border: 1px solid #28FFBF; */
    border-radius: 5px;
    text-shadow: 1px 1px 2px #112B3C;
    /* position:sticky ; */
}

#search-name::placeholder {
    font-size: 1.5rem;
    color: #FF8C32;
}

img {
    margin: 20px;
    max-width: 200px;
    width: 100%;
    height: 300px;
}


.search-btn  {
    padding: 6px 5px;
    width: auto;
    height: auto;
    font-size: 1rem;
    font-weight: 700;
    color: #FF8C32;
    background-color: transparent;
    border: 2px solid #DDDDDD;
    letter-spacing: 2px;
    border-radius: 5px;
    transition-property: color, background-color, border;
    transition-duration: 0.5s, 0.5s, 0.5s;
    cursor: pointer;
    /* position: fixed; */
}

.search-btn:hover{
    color: #112B3C;
    background-color: #FF8C32;
    border: 2px solid #FF8C32;
}

.random-hero-btn {
    padding: 6px 5px;
    width: auto;
    height: auto;
    font-size: 1rem;
    font-weight: 700;
    color: #FF8C32;
    background-color: transparent;
    border: 2px solid #DDDDDD;
    letter-spacing: 2px;
    border-radius: 5px;
    transition-property: color, background-color, border;
    transition-duration: 0.5s, 0.5s, 0.5s;
    cursor: pointer;
}

.random-hero-btn:hover{
    color: #112B3C;
    background-color: #FF8C32;
    border: 2px solid #FF8C32;
}